<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @joke.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @joke.user_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @joke.active %>
</p>

<p>
  <strong>Pub date:</strong>
  <%= @joke.pub_date %>
</p>

<%= link_to 'Edit', edit_joke_path(@joke) %> |
<%= link_to 'Back', jokes_path %>
